.App{
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
}
.meAndTitle{
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

@media (max-width:1300px) {
    .meAndTitle{
        margin-top: 1rem;
        flex-direction: column;
    }
}