li::marker{
    marker: none;
}
.technologies{
    
}
.section{
    margin:3rem 0;
}
.iconsContainer{
    display: flex;
    gap:2rem;
    margin-top: .5rem;
    min-height: 4rem;
}

.iconAndName{
    position: relative;
    width:4rem;
}
.iconAndName span{
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    right: 0;
    transition: 1s;
}

.img{
    width: 4rem;
    object-fit: cover;
    transition:.2s;
}
.iconAndName:hover > .img{
    transform: rotate(10deg) scale(1.05);

}